<head><link rel="stylesheet" href="customers-list.component.css"></head>
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Clientes</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Clientes</li>
                <li class="breadcrumb-item active">Ver lista clientes</li>
            </ol>
        </nav>
    </div>
    <section class="section">
        <div _ngcontent-dqv-c37="" class="row">
            <div _ngcontent-dqv-c37="" class="col-lg-12">
                <div _ngcontent-dqv-c37="" class="card">
                    <div _ngcontent-dqv-c37="" class="card-body">
                        <h5 _ngcontent-dqv-c37="" class="card-title">Clientes</h5>
                        <p _ngcontent-dqv-c37="">Add lightweight datatables to your project.</p>
                        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                            <div class="dataTable-top">
                                <div class="dataTable-dropdown"><label><select class="dataTable-selector">
                                            <option value="5">5</option>
                                            <option value="10" selected="">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                            <option value="25">25</option>
                                        </select> entries per page</label></div>
                                <div class="dataTable-search"><input class="dataTable-input" placeholder="Search..."
                                        type="text"></div>
                            </div>
                            <div class="dataTable-container">
                                <table _ngcontent-dqv-c37="" class="table datatable dataTable-table">
                                    <thead _ngcontent-dqv-c37="">
                                        <tr _ngcontent-dqv-c37="">
                                            <th _ngcontent-dqv-c37="" scope="col" data-sortable=""
                                                style="width: 5.64601%;"><a href="#" class="dataTable-sorter">#</a></th>
                                            <th _ngcontent-dqv-c37="" scope="col" data-sortable=""
                                                style="width: 27.9674%;"><a href="#" class="dataTable-sorter">Nombre</a>
                                            </th>
                                            <th _ngcontent-dqv-c37="" scope="col" data-sortable=""
                                                style="width: 37.8151%;"><a href="#"
                                                    class="dataTable-sorter">Apellido</a></th>
                                            <th _ngcontent-dqv-c37="" scope="col" data-sortable=""
                                                style="width: 9.19118%;"><a href="#" class="dataTable-sorter">Celular</a>
                                            </th>
                                            <th _ngcontent-dqv-c37="" scope="col" data-sortable=""
                                                style="width: 19.4328%;"><a href="#" class="dataTable-sorter" id="acciones">Acciones</a></th>
                                        </tr>
                                    </thead>
                                    <tbody _ngcontent-dqv-c37="">
                                        <tr *ngFor="let customerFromBD of customersList" _ngcontent-dqv-c37="">
                                            <th scope="row">{{index}}</th>
                                            <td _ngcontent-dqv-c37="">{{customerFromBD.name}}</td>
                                            <td _ngcontent-dqv-c37="">{{customerFromBD.surname}}</td>
                                            <td _ngcontent-dqv-c37="">{{customerFromBD.cellphone}}</td>
                                            <td _ngcontent-dqv-c37="">
                                                <div class="d-flex justify-content-center">
                                                    <button type="button" class="btn btn-light rounded-pill" id="editCustomer" (click)="redirectToUpdate(customerFromBD.id)"><i _ngcontent-iji-c29="" class="bi bi-pencil-square" id="iconEdit"></i></button>
                                                    <button type="button" class="btn btn-light rounded-pill" id="deleteCustomer"><i _ngcontent-iji-c29="" class="bi bi-trash" id="iconTrash"></i></button>
                                                    <button type="button" class="btn btn-light rounded-pill" id="infoCustomer" (click)="redirectToDetails(customerFromBD.id)"><i _ngcontent-iji-c29="" class="bi bi-info-circle" id="iconInfo"></i></button>
                                                </div>    
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dataTable-bottom">
                                <div class="dataTable-info">Showing 1 to 5 of 5 entries</div>
                                <nav class="dataTable-pagination">
                                    <ul class="dataTable-pagination-list"></ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>